*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    background-color: #8E49C3;
    overflow: hidden;
    animation: bg 16000ms infinite;
}
#up {
    z-index: 1;
    position: absolute;
    height: 35em;
    width: 35em;
    top: -20%;
    left: 30%;
    border-radius: 50%;
    background-color: #77E268;
    filter: blur(80px);
    animation: up 16000ms infinite;
}
#left {
    z-index: 1;
    position: absolute;
    left: -10%;
    height: 35em;
    width: 35em;
    top: 27%;
    border-radius: 50%;
    background-color: #F0A51E;
    filter: blur(80px);
    animation: left 16000ms infinite;
}
#right {
    z-index: 1;
    position: absolute;
    right: 5%;
    height: 36em;
    width: 36em;
    top: 45%;
    border-radius: 50%;
    background-color: #A9034C;
    filter: blur(80px);
    animation: right 16000ms infinite;
}

.content {
    z-index: 5;
    position: relative;
}

.headtext {
    padding-top: 5%;
    text-align: center;
    justify-content: center;
}

.toptext {
    font-size: 60px;
    margin-bottom: 0.5%;
}

.bottomtext {
    font-size: 32px;
    margin-bottom: 4vh;
}

.toptext, .bottomtext {
    background: -webkit-linear-gradient(#FFFFFF, #C5C1C1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.askbutton {
    font-size: 25px;
    color: #FFFFFF;
    background-color: transparent;
    border: 3px solid #ffffff;
    border-radius: 8px;
    padding: 15px 35px;
}


@keyframes up {
    0% {
        top: -20%;
    }
    33% {
        left: 0;
        background-color: #C34975;
    }
    66% {
        top: 5%;
        left: 60%;
        background-color: #6935f8;
    }
    
}
@keyframes left {
    0% {
        top: 27%;
        left: -10%;
    }
    33% {
        top: 45%;
        right: 20%;
        background-color: #AB563E;
    }
    66% {
        top: 45%;
        left: 45%;
        background-color: #F0A51E;
    }
    
}
@keyframes right {
    0% {
        right: 5%;
        top: 45%;
    }
    33% {
        top: 10%;
        right: 5%;
        background-color: #66BEF7;
    }
    66% {
        top: 20%;
        right: 60%;
        background-color: #77E268;
    }
    
}
@keyframes bg {
    0% {
        background-color: #8E49C3;
    }
    33% {
        background-color: #3C1199;
    }
    66% {
        background-color: #C3498B;
    }
    
}